.index {
    width: 96%;
    height: 100%;
    padding: 0 2%;
    overflow-y: scroll;
    background-color: #F2F6FC;
}

.index_one {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.index_one_item {
    width: 20%;
    height: 100%;
    margin: 0 3%;
    border-radius: 5%;
    background: linear-gradient(to bottom right, #f39393, #d43d3d);
    display: flex;
    flex-direction: row;

}

.index_one_item_left {
    width: 50%;
}

.index_one_item_left_name {
    font-size: 18px;
    color: white;
    margin: 18% 0 4% 20%
}

.index_one_item_left_number {
    font-size: 22px;
    color: white;
    margin: 0 0 10% 20%
}

.index_one_item_right {
    width: 50%;
}

.index_one_item_right_icon {
    font-size: 50px;
    margin: 20% 25%;
    color: #d5d6da
}

.index_two {
    width: 100%;
    height: 240px;
    margin-top: 2%;
    background-color: white;
}