.personalCenter {
    width: 70%;
    height: 100%;
    padding: 0 15%;
    overflow-y: scroll;
    background-color: #E4E7ED;
}

.personalCenter_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.personalCenter_content_left {
    width: 30%;
    height: 400px;
    margin-right: 2%;
    background-color: white;
}

.personalCenter_content_left_img {
    width: 100px;
    height: 100px;
    margin: 30px 34% 10px 34%;
}

.personalCenter_content_left_user {
    width: 100%;
    height: 80px;
    text-align: center;
}

.personalCenter_content_left_user_name {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #3c4a54;
}

.personalCenter_content_left_user_tabs {
    font-size: 15px;
    color: #808695;
}

.personalCenter_content_left_tag {
    width: 100%;
    height: 160px;
    color: #808695;
    font-size: 15px;
    text-align: left;
    border-bottom: 1px dashed #EBEEF5;
}

.personalCenter_content_left_tag_item {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 5%;
}

.personalCenter_content_right {
    width: 68%;
    height: 400px;
    background-color: white;
}

.personalCenter_content_right_error_message {
    color: red;
}

.personalCenter_order {
    width: 100%;
    height: 280px;
    margin-top: 20px;
    background-color: white;
}